language = "bash"
run = "chmod +x run.sh;./run.sh"
#include <stdio.h>
{
	int main value1,value2,value3,sum,avg;
	
	printf("Enter student mark for subject 1: ");
	scanf("%d",&value1);
	printf("Enter student mark for subject 2: ");
	scanf("%d",&value2);
	printf("Enter student mark for subject 3: ");
	scanf("%d",&value3);
	
	sum = value1 + value2 + value3;
	printf("Total mark is %d", sum);
	
	avg = sum / 3;
	printf("Average mark of the student %d", avg);
	
	return 0;
}
